<span id="menu.moveLeft" onclick="Menu.moveLeft()" class="fa fa-angle-left menu-prev-btn"></span>
<span id="menu.moveRight" onclick="Menu.moveRight()" class="fa fa-angle-right menu-next-btn"></span>
<div id="menu" class="menu">
    <% for(var item in menus.main) { %>
        <% if(!menus.main[item].menu) { %>
            <a href="<%= config.root + menus.main[item].route %>" class="item <%= (url==menus.main[item].route) ? "active" : "" %>">
                <% if(menus.main[item].icon) { %>
                    <span class="fa <%= menus.main[item].icon %>"></span> 
                <% } %>
                <%= menus.main[item].label %>
            </a>
        <% }else { %>
            <span class="item dropdown">
                <span>
                    <% if(menus.main[item].icon) { %>
                        <span class="fa <%= menus.main[item].icon %>"></span> 
                    <% } %>
                    <%= menus.main[item].label %> <span class="fa fa-angle-down"></span>
                </span>
                <div class="dropdown-menu">
                    <% for(var sub in menus[menus.main[item].menu]) { %>
                        <a href="<%= config.root + menus.main[item].route + '/' + sub %>" class="item"><%= menus[menus.main[item].menu][sub] %></a>
                    <% } %>
                </div>
            </span>
        <% } %>
    <% } %>
</div>