<!DOCTYPE html>
<html>
    <head>
        <title>thejoblistr - Free jobs listing for you</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="<%= config.root %>css/site.css" />
        <link rel="stylesheet" type="text/css" href="<%= config.root %>assets/fontawesome/css/all.min.css" />
    </head>
    <body>
        <%- include('../templates/header'); %>
        <%- include('../templates/menu'); %>
        <%- include('../templates/sidebar'); %>

        <div class="cf">
        <div class="body">
            hey hey bro
        </div>

        <%- include('../templates/footer'); %>
        </div>
    </body>
</html>