<h1 class="title">Edit Post</h1>

<form id="cp-form" enctype="multipart/form-data" class="form">
    <input type="hidden" name="id" value="<%= post.id %>" />
    <span class="label">Post Title</span>
    <input name="title" class="input" value="<%= post.title %>" placeholder="Enter a title for this post..." type="text" />

    <span class="label">Post Image</span>
    <input name="image" class="input" placeholder="Select a thumbnail for this post..." type="file" /><br />
    <% if(post.type != "draft") { %><i>To keep the thumbnail unchanged, do not select any file.</i><p></p><% } %>
    
    <span class="label">Body</span>
    <textarea name="body" id="postBodyEditor"><%= post.body %></textarea>
    <br />

    <span class="label">Category</span>
    <input value="<%= post.cat %>"  name="cat" class="input" placeholder="Enter the category of this post" type="text" />

    <span class="label">Tags</span>
    <input value="<%= post.tags %>" name="tags" class="input" placeholder="Enter a comma separated list of tags..." type="text" />

    <%
        function zero(num) {
            if(num < 10) return '0' + String(num);
            else return String(num);
        }
        var lastDate = new Date(post.lastDate * 1000);
        var lastDateVal = lastDate.getUTCFullYear() + '-' + (zero(lastDate.getUTCMonth()+1)) + '-' + zero(lastDate.getUTCDate());
    %>
    <span class="label">Last Date</span>
    <input value="<%= lastDateVal %>" oninput="document.getElementById('lastDate').value=this.valueAsNumber/1000;" class="input" type="date" />

    <span class="label">Image Alternative Text</span>
    <input value="<%= post.image_alt %>" name="imageAlt" class="input" placeholder="Enter alternative text..." type="text" />

    <span class="label">Custom Permalink</span>
    <input value="<%= post.permalink %>" id="permalink-inp" class="input" placeholder="Enter a custom permalink for this post..." type="text" />
    <div class="permalink-preview"><%= siteRoot %>/post/<span id="permalink-preview"><%= post.permalink %></span></div>

    <input id="lastDate" type="hidden" name="lastDate" value="0" />
    <input id="permalink-value" type="hidden" name="permalink" value="<%= post.permalink %>" />
    <input value="<%= post.author %>" type="hidden" name="author" value="Administrator" />
    <p></p>
    <a id="post-btn" class="btn btn-primary btn-full-width"><span class="fa fa-edit"></span> Update Post</a>
    <% if(post.type === "draft") { %>
        <a id="draft-publish-btn" class="btn btn-secondary btn-full-width"><span class="fa fa-globe"></span> Publish to Public</a>
    <% } %>
    <p>
        <i><span class="fa fa-info-circle"></span>  Publishing will not update this draft with your current edits. It will create a new post, and the draft will not be deleted.</i>
    </p>
</form>