<!DOCTYPE html>
<html>
    <head>
        <title>theJobListr - About</title>
        <%- include('../templates/html-head'); %>
    </head>
    <body>
        <div class="fade" id="fade"></div>
        <%- include('../templates/sidebarMenu'); %>
        <%- include('../templates/header'); %>
        <%- include('../templates/menu'); %>
        <div class="bodySb">
            <%- include('../templates/sidebar'); %>
            <div class="body">
                <span class="topic">About</span>
                <p>
                    <img style="width:100px;float:left;margin-right:15px;" src="<%= config.root %>/images/logo-min-transparentbg.png" />
                    <h2>theJobListr</h2>
                    Started on 2020, theJobListr posts the latest Jobs, Syllabuses and Exam results daily as soon as they arrive.<br />
                    We deliver the latest notifications from all around India directly to your feed so you can find jobs much faster and easier.<br />
                    Starting from Sarkari Jobs to Central Jobs and everything in-between, theJobListr houses a catalogue of job listings for you to choose from.

                    <br /><br />
                    Got any feedback for the team? <a class="link" href="<%= config.root %>/contact">Contact us</a>
                </p>
            </div>
        </div>

        <%- include('../templates/footer'); %>
    </body>
</html>