<!DOCTYPE html>
<html>
    <head>
        <title>theJobListr - About</title>
        <%- include('../templates/html-head'); %>
    </head>
    <body>
        <div class="fade" id="fade"></div>
        <%- include('../templates/sidebarMenu'); %>
        <%- include('../templates/header'); %>
        <%- include('../templates/menu'); %>
        <div class="bodySb">
            <%- include('../templates/sidebar'); %>
            <div class="body">
                <span class="topic">About</span>
                <p>
                    About descriptoin goes here
                </p>
            </div>
        </div>

        <%- include('../templates/footer'); %>
    </body>
</html>