<!DOCTYPE html>
<html>
    <head>
        <title>theJobListr - About</title>
        <%- include('../templates/html-head'); %>
    </head>
    <body>
        <%- include('../templates/header'); %>
        <%- include('../templates/menu'); %>
        <%- include('../templates/sidebar'); %>

        <div class="cf">
        <div class="body">
            <span class="topic">About</span>
            <p>
                About descriptoin goes here
            </p>
        </div>

        <%- include('../templates/footer'); %>
        </div>
    </body>
</html>