<!DOCTYPE html>
<html>
    <head>
        <title>theJobListr - Contact Us</title>
        <%- include('../templates/html-head'); %>
    </head>
    <body>
        <div class="fade" id="fade"></div>
        <%- include('../templates/sidebarMenu'); %>
        <%- include('../templates/header'); %>
        <%- include('../templates/menu'); %>
        <div class="bodySb">
            <%- include('../templates/sidebar'); %>
            <div class="body">
                <span class="topic">Contact Us</span>
                <p>
                    Having issues or feedback for the team? Feel free to contact us anytime using any of the below platforms:<br />
                    <ul>
                        <li>
                            <a target="_blank" href="https://chat.whatsapp.com/LB7qbOHZQR41KzZoIU3bQV" class="link">Join our WhatsApp Group</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://t.me/thejoblistr" class="link">theJobListr on Telegram</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/Thejoblistr-103814611698813/" class="link">Our Facebook Page</a>
                        </li>
                        <li>
                            <a href="mailto:rtsaha2022@gmail.com" class="link">E-mail Us</a>
                        </li>
                    </ul>
                    <br />
                    We'd love to hear your feedback!
                </p>
            </div>
        </div>

        <%- include('../templates/footer'); %>
    </body>
</html>