<!DOCTYPE html>
<html>
    <head>
        <title>theJobListr - Free jobs listing for you</title>
        <%- include('../templates/html-head'); %>
    </head>
    <body>
        <div class="fade" id="fade"></div>
        <%- include('../templates/sidebarMenu'); %>
        <%- include('../templates/header'); %>
        <%- include('../templates/menu'); %>
        <%- include('../templates/indianStates'); %>
        <div class="bodySb">
            <%- include('../templates/sidebar'); %>
            <div class="body">
                <div class="marquee"></div>
                <span class="topic">Newest Posts</span>
                <div class="posts">
                    <% posts.latest.posts.forEach((post) => { %>
                        <a href="<%= config.root %>/post/<%= post.id %>" class="post-box">
                            <span class="category"><%= post.cat %></span>
                            <span class="title"><%= post.title %></span>
                            <span class="timestamp"><%= post.dateString %></span>
                        </a>
                    <% }); %>
                    <a href="<%= config.root %>/posts/t/latest" class="viewall"><span class="fa fa-angle-right"></span> All Posts</a>
                </div>
                <span class="topic">Trending Jobs</span>
                <div class="cards">
                    <% var i=0;for(var item in menus.cards) {i++; %>
                        <a href="<%= menus.cards[item].url %>" class="card sbg s<%= i %>"><span><%= menus.cards[item].label %></span></a>
                    <% } %>
                </div>

                <span class="topic">Notifications</span>
                <div class="table">
                    <span>Notifications</span>
                    <div>
                        <table>
                            <tr>
                                <th>Latest Govt. Jobs</th>
                                <th>Last Date</th>
                            </tr>
                            <% posts.government.posts.forEach((post) => { %>
                                <tr>
                                    <td><a href="<%= config.root %>/post/<%= post.id %>" class="link"><%= post.title %></a></td>
                                    <td><%= post.lastDateString %></td>
                                </tr>
                            <% }); %>
                        </table>
                        <table>
                            <tr>
                                <th>State Jobs</th>
                                <th>Last Date</th>
                            </tr>
                            <% posts.state.posts.forEach((post) => { %>
                                <tr>
                                    <td><a href="<%= config.root %>/post/<%= post.id %>" class="link"><%= post.title %></a></td>
                                    <td><%= post.lastDateString %></td>
                                </tr>
                            <% }); %>
                        </table>
                        <table>
                            <tr>
                                <th>Exam Results</th>
                                <th>Posted on</th>
                            </tr>
                            <% posts.exams.posts.forEach((post) => { %>
                                <tr>
                                    <td><a href="<%= config.root %>/post/<%= post.id %>" class="link"><%= post.title %></a></td>
                                    <td><%= post.dateString %></td>
                                </tr>
                            <% }); %>
                        </table>
                        <table>
                            <tr>
                                <th>Admit Cards</th>
                                <th>Last Date</th>
                            </tr>
                            <% posts.admitCards.posts.forEach((post) => { %>
                                <tr>
                                    <td><a href="<%= config.root %>/post/<%= post.id %>" class="link"><%= post.title %></a></td>
                                    <td><%= post.lastDateString %></td>
                                </tr>
                            <% }); %>
                        </table>
                        <table>
                            <tr>
                                <th>Answer Keys</th>
                                <th>Posted on</th>
                            </tr>
                            <% posts.answerKeys.posts.forEach((post) => { %>
                                <tr>
                                    <td><a href="<%= config.root %>/post/<%= post.id %>" class="link"><%= post.title %></a></td>
                                    <td><%= post.dateString %></td>
                                </tr>
                            <% }); %>
                        </table>
                        <table>
                            <tr>
                                <th>Syllabus</th>
                                <th>Posted on</th>
                            </tr>
                            <% posts.syllabus.posts.forEach((post) => { %>
                                <tr>
                                    <td><a href="<%= config.root %>/post/<%= post.id %>" class="link"><%= post.title %></a></td>
                                    <td><%= post.dateString %></td>
                                </tr>
                            <% }); %>
                        </table>
                    </div>
                </div>

                <br />
                <span class="topic">Featured Organizations</span>
                <div class="posts">
                    <% for(var item in menus.orgs.featured) { %>
                        <a href="#" class="post-box feat-org">
                            <img src="<%= config.root %>/images/uploads/organizations/<%= menus.orgs.featured[item].logo %>" />
                            <span><%= menus.orgs.featured[item].label %></span>
                        </a>
                    <% } %>
                </div>

                <span class="topic">New Vacancies</span>
                <div class="posts">
                    <% for(var item in menus.orgs.vacancies) { %>
                        <a href="#" class="post-box feat-org">
                            <img src="<%= config.root %>/images/uploads/organizations/<%= menus.orgs.vacancies[item].logo %>" />
                            <span><%= menus.orgs.vacancies[item].label %></span>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="ad-728x90"></div>
        <%- include('../templates/footer'); %>
    </body>
</html>